{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Sean Chang - CV</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static "resume_element/vendor/bootstrap/css/bootstrap.min.css" %}" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="https://fonts.googleapis.com/css?family=Saira+Extra+Condensed:100,200,300,400,500,600,700,800,900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.rawgit.com/konpa/devicon/df6431e323547add1b4cf45992913f15286456d3/devicon.min.css">
    <link href="{% static "resume_element/vendor/font-awesome/css/font-awesome.min.css" %}" rel="stylesheet">
    <link href="{% static "resume_element/vendor/devicons/css/devicons.min.css" %}" rel="stylesheet">
    <link href="{% static "resume_element/vendor/simple-line-icons/css/simple-line-icons.css" %}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{% static "resume_element/css/resume.min.css" %}" rel="stylesheet">

  </head>

  <body id="page-top">

    <nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top" id="sideNav">
      <a class="navbar-brand js-scroll-trigger" href="#page-top">
        <span class="d-block d-lg-none">Sean Chang - CV</span>
        <span class="d-none d-lg-block">
          <img class="img-fluid img-profile rounded-circle mx-auto mb-2" src="{% static "resume_element/img/head.jpg" %}" alt="">
        </span>
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#about">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#experience">Experience</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#education">Education</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#skills">Skills</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#interests">Interests</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#awards">Awards</a>
          </li>
        </ul>
      </div>
    </nav>

    <div class="container-fluid p-0">

      <section class="resume-section p-3 p-lg-5 d-flex d-column" id="about">
        <div class="my-auto">
          <h1 class="mb-0">Sean
            <span class="text-primary">Chang</span>
          </h1>
          <div class="subheading mb-5">Taipei · Taiwan · (+886)980648096 ·
            <a href="mailto:name@email.com">r05323028@ntu.edu.tw</a>
          </div>
          <p class="mb-5">
            I am familar with web scraping, data wrangling, data analysis, data visualization, etc. I also experienced in Ensemble Methods(Gradient Boosting, Random Forests), 
            Neural Networks(CNN, LSTM) and building ML training pipeline(Model selection, Cross Validation, Feature Selection).
          </p>
          <ul class="list-inline list-social-icons mb-0">
            <li class="list-inline-item">
              <a href="https://www.facebook.com/sean50301">
                <span class="fa-stack fa-lg">
                  <i class="fa fa-circle fa-stack-2x"></i>
                  <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
                </span>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="https://www.linkedin.com/in/r05323028/">
                <span class="fa-stack fa-lg">
                  <i class="fa fa-circle fa-stack-2x"></i>
                  <i class="fa fa-linkedin fa-stack-1x fa-inverse"></i>
                </span>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="https://gitlab.com/r05323028">
                <span class="fa-stack fa-lg">
                  <i class="fa fa-circle fa-stack-2x"></i>
                  <i class="fa fa-gitlab fa-stack-1x fa-inverse"></i>
                </span>
              </a>
            </li>
          </ul>
        </div>
      </section>

      <section class="resume-section p-3 p-lg-5 d-flex flex-column" id="experience">
        <div class="my-auto">
          <h2 class="mb-5">Experience</h2>

          <div class="resume-item d-flex flex-column flex-md-row mb-5">
            <div class="resume-content mr-auto">
              <h3 class="mb-0">Data Scientist Intern</h3>
              <div class="subheading mb-3">KKBOX, Inc. Taiwan</div>
              <ul>
                <li>Deployed the predictive models which predict the song’s play counts.</li>
                <li>Mainly used Presto as the database engine and pull data by SQL.</li>
                <li>Manipulated data and built models by R and Python.</li>
                <li>Coped with lyrics data by specific NLP methods such as LDA, LSI, Word Embedding, etc.</li>
              </ul>
            </div>
            <div class="resume-date text-md-right">
              <span class="text-primary">April 2018 - Present</span>
            </div>
          </div>
 
          <div class="resume-item d-flex flex-column flex-md-row mb-5">
            <div class="resume-content mr-auto">
              <h3 class="mb-0">Algorithm Development Engineer Intern</h3>
              <div class="subheading mb-3">Yuanta Securities Co., Ltd. Taiwan</div>
              <ul>
                <li>Deployed an algorithm to do future trading automatically.</li>
                <li>Mainly used Deep Q-learning(<a href="https://arxiv.org/pdf/1312.5602.pdf">arXiv:1312.5602</a>).</li>
              </ul>
            </div>
            <div class="resume-date text-md-right">
              <span class="text-primary">Jul 2017 - Aug 2017</span>
            </div>

          </div>


        </div>

      </section>

      <section class="resume-section p-3 p-lg-5 d-flex flex-column" id="education">
        <div class="my-auto">
          <h2 class="mb-5">Education</h2>

          <div class="resume-item d-flex flex-column flex-md-row mb-5">
            <div class="resume-content mr-auto">
              <h3 class="mb-0">National Taiwan University</h3>
              <div class="subheading mb-3">Master in Economics</div>
              <div>Major in ML algorithms and practical implements.</div>
              <p>Announced an essay about Hit Song Prediction based on lyrics and audio by Gradient Boosting Machine and LSTM.</p>
            </div>
            <div class="resume-date text-md-right">
              <span class="text-primary">Sep 2016 - Jul 2018</span>
            </div>
          </div>

          <div class="resume-item d-flex flex-column flex-md-row">
            <div class="resume-content mr-auto">
              <h3 class="mb-0">Fu Jen Catholic University</h3>
              <div class="subheading mb-3">Bachelor of Arts</div>
              <p></p>
            </div>
            <div class="resume-date text-md-right">
              <span class="text-primary">Sep 2011 - Jun 2015</span>
            </div>
          </div>

        </div>
      </section>

      <section class="resume-section p-3 p-lg-5 d-flex flex-column" id="skills">
        <div class="my-auto">
          <h2 class="mb-5">Skills</h2>

          <div class="subheading mb-3">Programming Languages &amp; Tools</div>
          <ul class="list-inline list-icons">
            <li class="list-inline-item">
              <i class="devicons devicons-python"></i>
            </li>
            <li class="list-inline-item">
              <i class="devicons devicons-scala"></i>
            </li>
            <li class="list-inline-item">
              <i class="devicons devicons-git"></i>
            </li>
            <li class="list-inline-item">
              <i class="devicon-gitlab-plain"></i>
            </li>
            <li class="list-inline-item">
              <i class="devicons devicons-linux"></i>
            </li>
            <li class="list-inline-item">
              <i class="devicons devicons-ubuntu"></i>
            </li>
            <li class="list-inline-item">
              <i class="devicons devicons-apple"></i>
            </li>
            <li class="list-inline-item">
              <i class="devicons devicons-django"></i>
            </li>
            <li class="list-inline-item">
              <i class="devicons devicons-mysql"></i>
            </li>
            <li class="list-inline-item">
              <i class="devicon-mongodb-plain-wordmark"></i>
            </li>
            <li class="list-inline-item">
              <i class="devicons devicons-docker"></i>
            </li>
            <li class="list-inline-item">
              <i class="devicons devicons-nginx"></i>
            </li>
          </ul>

          <div class="subheading mb-3">Familiar Python/R Packages</div>

          <ul class="fa-ul mb-0">
            <li>
              <i class="fa-li fa fa-hashtag"></i>
              Python: tensorflow, keras, sklearn, scipy-family, gensim, jieba, matplotlib-family, django, flask, scrapy.
            </li>
            <li>
              <i class="fa-li fa fa-hashtag"></i>
              R: tidyverse, ggplot2, gbm, factoextra.
            </li>
          </ul>
          
          <div class="subheading mb-3">Knowledges</div>
          <ul class="fa-ul mb-0">
            <li>
              <i class="fa-li fa fa-bookmark"></i>
              Supervised Learning: CART, Regression(Elastic Nets), Nearest Neiborhoods, Naïve Bayes, SVM, etc.</li>
            <li>
              <i class="fa-li fa fa-bookmark"></i>
              Unsupervised Learning: K-means, DBSCAN, etc.</li>
            <li>
              <i class="fa-li fa fa-bookmark"></i>
              Ensembles: Random Forests, Gradient Boosting, Isolation Forests, etc.</li>
            <li>
              <i class="fa-li fa fa-bookmark"></i>
              Neural Networks: CNN, LSTM, etc.</li>
            <li>
              <i class="fa-li fa fa-bookmark"></i>
              Model Selection: K-fold CV, HP tunning, etc.</li>
            <li>
              <i class="fa-li fa fa-bookmark"></i>
              Model Validation: Precision Recall, ROC, etc.</li>
            <li>
              <i class="fa-li fa fa-bookmark"></i>
              Reinforcement Learning: DQN.</li>
            <li>
              <i class="fa-li fa fa-bookmark"></i>
              Time Series: AR, MA, ARIMA, etc.</li>
          </ul>
        </div>
      </section>

      <section class="resume-section p-3 p-lg-5 d-flex flex-column" id="interests">
        <div class="my-auto">
          <h2 class="mb-5">Interests</h2>
            <ul class="fa-ul mb-0">
              <li>
                <i class="fa-li fa fa-play"></i>
                Computer Games: NBA2K, PUBG, Assassin's Creed, The Witcher 3, PAYDAY 2, etc.
              </li>
              <li>
                <i class="fa-li fa fa-play"></i>
                Exploring: Newest ML skills, papers, Newest techniques, GitHub.
              </li>
              <li>
                <i class="fa-li fa fa-play"></i>
                Learning: Programming languages, Statistics, ML.
              </li>
              <li>
                <i class="fa-li fa fa-play"></i>
                Media: KKBOX, CN/JP dramas, Horror/Sci-Fi movies.
              </li>
            </ul>
        </div>
      </section>

      <section class="resume-section p-3 p-lg-5 d-flex flex-column" id="awards">
        <div class="my-auto">
          <h2 class="mb-5">Awards &amp; Certifications</h2>
          <ul class="fa-ul mb-0">
            <li>
              <i class="fa-li fa fa-trophy text-warning"></i>
             6<sup>th</sup> place SAS & E.SUN BANK Fintech Competition</li>
          </ul>
        </div>
      </section>

    </div>

    <!-- Bootstrap core JavaScript -->
    <script src="{% static "resume_element/vendor/jquery/jquery.min.js" %}"></script>
    <script src="{% static "resume_element/vendor/bootstrap/js/bootstrap.bundle.min.js" %}"></script>

    <!-- Plugin JavaScript -->
    <script src="{% static "resume_element/vendor/jquery-easing/jquery.easing.min.js" %}"></script>

    <!-- Custom scripts for this template -->
    <script src="{% static "resume_element/js/resume.min.js" %}"></script>

  </body>

</html>
